{{#partial "content"}}
    {{#if editTour}}
        <h1>Edit this Tour!</h1>
        <form action="/tours/{{editTour.id}}/update" method="post">
            <div class="form-group">
                <label for="newName">Tour name</label>
                <input id="newName" name="newName" type="text" value="{{editTour.name}}" required>
            </div>
            <div class = "form-group">
                <label for="newDifficulty">Difficulty (1-10):</label>
                <input id="newDifficulty" name="newDifficulty" type="number" value="{{editTour.difficulty}}" min="1" max="10" required>
            </div>
            <div class = "form-group">
                <label for="newRating">Rating (1-10):</label>
                <input id="newRating" name="newRating" type="number" value="{{editTour.rating}}" min="1" max="10" required>
            </div>
            <div class="form-group">
                <label for="newSeason">Season</label>
                <input id="newSeason" name="newSeason" type="text" value="{{editTour.season}}" required>
            </div>
            <div class="form-group">
                <label for="newDistance">Distance</label>
                <input id="newDistance" name="newDistance" type="text" value="{{editTour.distance}}" required>
            </div>
            <div class="form-group">
                <label for="newDescription">Description</label>
                <input id="newDescription" name="newDescription" type="text" value="{{editTour.description}}" required>
            </div>

    {{else}}

        <h1>Add a new Tour!</h1>
        <form action="/tours" method="post">
            <div class = "form-group">
                <label for="newName">Tour name: </label>
                <input id="newName" name="newName" type="text" required>
            </div>
            <div class = "form-group">
                <label for="newDifficulty">Difficulty (1-10): </label>
                <input id="newDifficulty" name="newDifficulty" type="number" min="1" max="10" required>
            </div>
            <div class = "form-group">
                <label for="newRating">Rating (1-10): </label>
                <input id="newRating" name="newRating" type="number" min="1" max="10" required>
            </div>

            <div class="form-group">
                <label for="newSeason">Season: </label>
                <input id="newSeason" name="newSeason" type="text" required>
            </div>
            <div class="form-group">
                <label for="newDistance">Distance: </label>
                <input id="newDistance" name="newDistance" type="text" required>
            </div>
            <div class="form-group">
                <label for="newDescription">Description: </label>
                <input id="newDescription" name="newDescription" type="text" required>
            </div>

    {{/if}}
        <button type="submit" class="btn btn-success">Submit</button>
        </form>


{{/partial}}

{{> layout.hbs}}



